:root {
	--green: #b2ff55;
	--white: #ffffff;
	--margin: 10px;
}
.scroll {
	width: 50px;
	position: absolute;
	right: 4%;
	bottom: 42%;
	cursor: pointer;
	opacity: 0.8;
	z-index: 50;
	animation: scrollbtn 0.5s linear;
}
@keyframes scrollbtn {
	0% {
		transform: translateY(70px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
.scroll h2 {
	color: var(--green);
	font-size: 1.2rem;
	font-family: Orelo SemiWide Light;
	font-weight: 100;
	margin-bottom: var(--margin);
}
.ouli {
	display: flex;
	justify-content: center;
}
.scroll-line {
	height: 80px;
	width: 1px;
	background: var(--green);
}
