.contact {
	width: 78%;
	height: 100vh;
	z-index: 20;
	position: absolute;
	top: 0px;
	right: 0px;
	/* background: darkcyan; */
}
section {
	height: 100vh;
	width: 100%;
	/* border: 1px solid aqua; */
	padding: 6% 6% 0px 3%;
	scroll-snap-align: start;
	scroll-snap-align: end;
}
