.home-form {
	/* background: khaki; */
	margin-top: 7%;
	padding-right: 20%;
}
.home-form .inp {
	/* background: darkslategrey; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	margin-bottom: 1rem;
}
.input {
	/* background: seagreen; */
}
label {
	/* background: seagreen; */
	margin: 0px;
}

input {
	width: 100%;
	height: 2.5rem;
	outline: none;
	border: 1px solid grey;
	background: transparent;
	padding: 2%;
	font-size: 0.8rem;
}
textarea {
	width: 100%;
	height: 20vh;
	background: transparent;
	padding: 2%;
	outline: none;
	overflow: hidden;
}
.btn {
	display: flex;
	/* background: navy; */
	justify-content: space-around;
	margin-top: 20px;
}
.btn button {
	width: 120px;
	height: 40px;
	/* color: white; */
}
.btn button:nth-child(2) {
	background: var(--white);
	color: #243553;
	font-weight: 600;
}

/* .budget {
	position: absolute;
	right: 10px;
} */
/* #pro {
	background: transparent;
	width: 20px;
	outline: none;
	border: none;
} */
option {
	background: #243553;
	outline: none;
	border: none;
}
