.ang {
	height: 25px;
	width: 25px;
	background: violet;
	border-radius: 50%;
	position: absolute;
	--sin: cal(sin(0deg));
	--cos: cal(cos(0deg));
}
.ang:nth-last-of-type(1) {
	transform: translate(var(--cos) * 100px), translate(cal(sin(0deg) * 100px));
}
