.illustration {
	height: 65vh;
	width: 100%;
	background: navajowhite;
	position: relative;
	margin-top: 18%;
	/* display: flex; */
	padding: 1rem;
	/* display: none; */
}
.tran {
	/* display: flex; */
	position: relative;
	width: 100%;
	height: 100%;
	/* position: fixed; */
	background: royalblue;
	/* border-top: 20px solid black;
	border-right: 20px solid transparent;
	margin-left: 10px;
	width: 10px;
	height: 10px;
	rotate: 45deg; */

	/* height: 10px;
	width: 10px;
	background: black;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */

	/* border-top: 1px solid black;
	width: 50px;
	height: 50px;
	cursor: pointer;
	fill: none;
	border-right: 1px solid black; */
}
/* .tran::before {
	content: "&nbsp";
	border-right: 5px solid green;
	border-top: 5px solid green;
	margin-top: 10px;
	width: 100%;
	height: 50px;
} */
/* .svg {
	margin-top: 30px;
	background: white;

} */
/* .svg path {
	stroke: black;
} */

.ill-box {
	width: 130px;
	height: 60px;
	border: 1px solid #ffffff;
	border-radius: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	/* top: 0px;
	left: 0px; */
	background: rebeccapurple;
	/* position: fixed; */
}
.ill-box:nth-child(2) {
	top: 20%;
	left: 28%;
}
.ill-box:nth-child(3) {
	top: 20%;
	left: 55%;
}
.ill-box:nth-child(4) {
	top: 0%;
	right: 0%;
}

.ill-box:nth-child(5) {
	top: 48%;
	right: 0%;
}
.ill-box:nth-child(8) {
	top: 48%;
	left: 0%;
}

.ill-box:nth-child(6) {
	bottom: 0%;
	left: 28%;
}
.ill-box:nth-child(7) {
	bottom: 0%;
	left: 55%;
}
.ill-box p {
	color: white;
	text-align: center;
	padding-top: 26%;
	line-height: normal;
}
.box-circle {
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	position: absolute;
	top: -30%;
	right: 35%;
	z-index: 5;
}
.bx-line {
	width: 100%;
	background: teal;
	position: absolute;
	top: 0px;
	bottom: 0px;
}
.box-line {
	background: #f7dd95;
	height: auto;
	width: 19.5%;
	position: relative;
	top: 6.8%;
	left: 17.5%;
	padding-top: 6.5%;
	border-top: 1px solid #f7dd95;
	border-right: 1px solid #f7dd95;
	z-index: 2;
}
/* .box-line:nth-child(1) {
	height: 25px;
	width: 186px;
} */
